{{define "content"}}{{$L := .Lang}}
<div class="login-wrap">
  <form class="login" method="post" action="/login">
    <h1 class="login-title">{{t $L "login.title"}}</h1>
    {{if .Error}}<div class="alert err">{{t $L "login.invalid"}}</div>{{end}}
    <label class="row"><span>{{t $L "login.user"}}</span><input type="text" name="login_user" required autofocus></label>
    <label class="row"><span>{{t $L "login.pass"}}</span><input type="password" name="login_pass" required></label>
    <button class="btn on big" type="submit">{{t $L "login.submit"}}</button>
  </form>
</div>
{{end}}
